.container {
  
 
    width: 100%;
    
    height: 100vh;
}

.image-view{
    
margin: 2px;
padding : 3px;
border: 0.5px dashed #aaaaaa8c;
height: 70vh;
position: sticky;
}

.detailsview{

}

.laptop-img{
    max-width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20%;
    width: 450px;
}